extends layout

block content
  head
  textarea(cols="3" rows="5" name="packettext")=messagetext
  script. (src='/tnc.js')
  body
  h1= title
  p Welcome to !{cs}
  p
  form(name="sendtext", method="post")
        div.input
            span.label Call Sign
            br
            input(type="text", name="callsign")
        div.input
            p
            span.label Message 
            br
            #{messagetext}
            p
        div.actions
            input(type="submit", value="SEND")
  p
  p     
    div    
        div 
            span.label !{pr}  
            html(lang="en")
  